services:
  # Servizio 1: Il motore che fa girare i modelli offline
  ollama:
    image: ollama/ollama
    container_name: ollama
    network_mode: "host"  # <--- Usa la rete del tuo Ubuntu direttamente
    volumes:
      - ./ollama_data:/root/.ollama
    ports:
      - "11434:11434"

  # Servizio 2: Il tuo Bot personalizzato
  mio-bot:
    build: .
    container_name: ludwig
    network_mode: "host"
    volumes:
      - .:/app
    ports:
      - "8501:8501"
    restart: always
